{% extends 'base.html.twig' %}

{% block title %}home{% endblock %}

{% block body %}
<h1 class="text-center mt-5">first assignment </h1>
{% if is_granted('ROLE_ADMIN') %}
<div class="text-center mt-5">
<a href="{{path("sonata_admin_dashboard")}}" class="justify-content-center btn btn-warning w-50">SONATA ADMIN PAGE </a>
</div>
<div class="text-center mt-5">
<a href="{{path("list")}}" class="justify-content-center btn btn-info w-50">API </a>
</div>

{% endif%}
<div class="text-center mt-5">
<a href="{{path("logout")}}" class="justify-content-center btn btn-primary w-50">LogOut </a>
</div>

{% endblock %}
