{% extends 'base.html.twig' %}

{% block title %}home{% endblock %}

{% block body %}
<h1 class="text-center mt-5">first assignment </h1>
<div class="text-center mt-5">
<a href="{{path("sonata_admin_dashboard")}}" class="justify-content-center btn btn-warning w-50">SONATA ADMIN PAGE </a>
</div>

<div class="text-center mt-5">
<a href="{{path("Logout")}}" class="justify-content-center btn btn-primary w-50">LogOut </a>
</div>

{% endblock %}
