{% extends 'base.html.twig' %}
{% block title %}Insert_course{% endblock %}
{% block body %}
<div class="container mt-3 mb-3">
    <div class="row ml-5 mb-3">
        <div class="col-12">
           <a href="{{ path('Page',{'pages':'students'}) }}" class="btn-warning btn"> back to page</a>
        </div>
    </div>
</div>
{%form_theme form 'bootstrap_4_layout.html.twig'%}
    {{form_start(form)}}
    {{form_widget(form)}}
        <button class="btn btn-success mt-3">Insert</button>
    {{form_end(form)}}
{% endblock %}

